*{margin: 0px;
padding: 0px;
}

body{
    background-color: rgb(181, 183, 185);
}

header{
    background-color: rgb(183, 241, 183);
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

.header {
  width: 100%;
  background-color: #ffff;
  padding: 20px 0; 
  text-align: center;
}

#img1{
    margin-top: 15px;
    width: 220px;
    height: 200px;
    border-radius: 50%; 
    box-shadow: 0 0 10px rgb(255, 255, 255); 
}

#img1:hover {
  box-shadow: 0 0 25px rgb(255, 255, 255);
  transform: scale(1.05);
  transition: 0.3s;
}

.header{
  background-color: rgb(183, 241, 183);
}

.name{
    text-align: center;
    
}

.aboutme{
    background-color: rgb(255, 255, 255);
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    line-height: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.aboutme p{
   padding-left: 5px;
}

.skills{
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 20px;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

ul{
    text-align: left;
    list-style-type: disc;
    list-style-position: inside;
}

.projects{
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.topics{
    font-size: medium;
     margin-inline: 1px;
     inline-size: 1px;
    text-align: left;
}

.topics th{
    background-color:rgb(183, 241, 183);
}

table{ 
    text-align: left;
    line-height: 20px;
    margin-top: 10px;
    vertical-align: middle;
}

td{
    text-align: left;
    vertical-align: top;
}

.contact{
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
}
 
input{
    width: 500px;
    height: 25px;
    line-height: 20px;
    font-size: 14;
} 

textarea{
  width: 700px;
  height: 150px;
  resize: none; 
  padding: 10px;
  font-size: 16px;
}

#connect{
    background-color: rgb(183, 241, 183);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

u{
    color: rgb(67, 121, 67);
    line-height: 2px;
    text-decoration: underline;
    text-underline-offset: 10px;
    width: 100vw;
}

.navbar{
  list-style-type: none;  
  background-color: #204102;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 14px 20px;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 768px){
body{
    background-color: rgb(65, 71, 73);
}    
}

footer{
  .socialicons a {
  color: rgb(12, 49, 20);
  font-size: 1.6rem;
  margin: 0 10px;
  text-decoration: none;
}

.socialicons a:hover {
  text-shadow: 0 0 15px rgb(12,49,20), 0 0 30px rgb(0, 0, 0);
  transform: scale(1.2);
}
}

.footer{
    text-align: center;
    container: center;
}